body {
    background-image: url("Images/valer.jpg");
}
.slider {
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto Condensed', sans-serif
}
.carousel {
    font-family: 'Anton', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Condensed', sans-serif;
}